<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tip Board</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700|Roboto+Slab:100,300,400,700" rel="stylesheet"
        type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body class="bg">
    <div class="content">
        <div id="main-content">
            <h1 id="park-name"></h1>
            <h2 id="todays-park-hours-label">Today's Park Hours</h2>
            <h2 id="hours"></h2>
        </div>
        <div id="right-content">
            <div id="current-date" class="info date"></div>
            <div id="current-time" class="info time"></div>
            <div id="current-weather" class="info weather"></div>
            <div id="parks"></div>
        </div>
    </div>
    <audio id="audio-player" autoplay></audio>
    <script src="/static/js/tipboard.js"></script>
    <script>
        TipBoard.Initialize($('#audio-player'), 'hkdl', '<%=timeZoneApiKey%>', 22.313131, 114.044517);
    </script>
</body>

</html>