body, html {
    height: 100%;
}

body {
    color: #ffffff;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
}

.bg {
    background-color: #cce7ff;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    display: flex;
}

#itinerary {
    bottom: 0;
    font-size: 3vw;
    margin-bottom: 24px;
    position: fixed;
}

#main-content {
    flex-grow: 1;
    margin: 48px;
    text-shadow: 2px 2px #212121;
}

#main-content h1 {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-size: 5vw;
    font-weight: 700;
    margin-bottom: 48px;
}

#main-content h2 {
    font-size: 3vw;
    margin: 0px 0px 8px 0px;
    padding: 0;
}

#right-content {
    background-color: rgba(0, 136, 255, 0.67);
    color: #ffffff;
    font-size: 1.2vw;
    height: 100%;
    padding: 48px 24px 24px 24px;
    position: fixed;
    right: 0;
    width: 22%;
}

#right-content h3 {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 16px 0px 8px 0px;
    padding: 0;
}

#right-content h4 {
    font-weight: 400;
    margin: 0px 0px 16px 0px;
    padding: 0;
}

#right-content .info {
    margin-bottom: 24px;
}

#right-content .info.date, #right-content .info.time {
    margin-bottom: 16px;
}

#right-content .info.time {
    font-size: 3.8vw;
}

#todays-park-hours-label {
    display: none;
}

/* Facilities */
#bus-stop-name {
    display: inline-block;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-size: 3vw;
    font-weight: 300;
    padding: 8px;
}

.header-content #current-time, 
.header-content #current-date, 
.header-content #weather-today, 
.header-content #weather-tomorrow {
    float: right;
    font-weight: 300;
    padding: 8px;
}

.header-content #current-time {
    font-size: 3vw;
}

.bus-message {
    font-size: 24px;
}

.bus-time {
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.facility {
    background: #0088ff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    position: relative;
    text-align: center;
    width: 200px;
}

.header-content {
    color: #0088ff;
    padding: 0;
}

.park-hours {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    min-height: 75px;
}

.park-name {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-size: 2vw;
    font-weight: 300;
    margin: 0px 0px 16px 0px;
    min-height: 75px;
    padding: 0;
}

.tile-content {
    background-color: rgba(0,136,255,.6);
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    position: absolute;
    vertical-align: bottom;
    width: 100%;
}

.weather-header {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-weight: 500;
}